*{
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;

}

ul{
    list-style-type: none;
}

.header{
    height: 30px;
    width: 100%;
    background-color: #0872b9;
}

.container{
    width: 1320px;
    margin: 0 auto;
   
}

.header-text{
    width: 50%;
    float: left;
    margin-top: 5px;

}

.header-text p{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.header-icon{
    width: 50%;
    text-align: end;
    color: white;
    float: left;

}


.header-icon i{
margin-left: 20px;
margin-top: 5px;
color: white;
}

.header-icon i:hover{
    color: #333a41;
    transition: .7s;
}

/* nav ber section */
#menu{
    height: 80px;


}

.container .logo{
    width: 30%;
    float: left;

}

.logo {
	margin-top: 15px;
}

.menu-bar {
	float: left;
	width: 70%;
	text-align: end;
	margin-top: 30px;
}

.menu-bar ul li{
    display: inline;
    margin-left: 8px ;
    text-transform: uppercase;
    font-family: arial;
}
.menu-bar ul li a{
    color: black;
}

.menu-bar ul li a:hover {
	color: #0872b9;
}

/* background image */

#banner{
    background-image: url(../images/backgound-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 90px 0;
     width: 100%;
    position: relative;
    z-index: 1;

}

#banner::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: -1;

}

.banner-text{
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 2;


}

.banner-text h2{
    font-size: 30px;
    padding-bottom: 35px;
}

.banner-text h1{
    font-size: 40px;
    padding-bottom: 15px;
}

.banner-text p {
	padding-left: 785px;
    line-height: 1.5;
    padding-bottom: 35px;
}

.banner-btn a{
    padding: 10px 20px;
    background-color: ;
    border: solid 2px white; 
    color: white;
    margin-left: 20px;

}
.banner-btn{
    font-family: Arial, Helvetica, sans-serif;
}

.banner-btn a:hover{
    background-color: #0872b9;
    border: solid 2px  #0872b9; 
    color: white;
    transition: .3s;
}

/* about section */
.about{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}

.about p{
    position: relative;
}

.about p::after {
	position: absolute;
	content: '';
	width: 150px;
	height: 3px;
    background-color: #0872b9;
	left: 585px;
	top: 35px;
}


/* about section */

/* about section image and text */

#about_section_part{
    height: 350px;
    width:1320px;

}

.about-image{
    width: 30%;
    float: left;
}

.about-text{
    width: 70%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

.about-text-one {
	padding-left: 295px;
	line-height: 25px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.about-text-two{
	padding-left: 295px;
	line-height: 25px;
	padding-bottom:20px;

}
/* about section image and text */


/* our service section  */

.service-text-raw{
    font-family: Arial, Helvetica, sans-serif;
    width: 1320px;
    height: 450px;


}



.service-text-raw p{
    text-align: center;
    padding-top: ;
    padding-bottom: 40px;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}



.service-text-raw p::after {
	position: absolute;
	content: '';
	width: 170px;
	height: 3px;
	background-color: #0872b9;
	left: 575px;
	top: 35px;
}

/* hard shape */
/* hard shape */
/* hard shape */
.service-raw-one{
    width: 420px;
    height: 230px;
    background-color: #eaeaea;
    float: left;
    margin-top: 100px;
    position: relative;
}


.service-raw-one-img-outterdoube {
	width: 95px;
	height: 95px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 2px;
}

.service-raw-one-img-outter img {
	top: 15px;
	position: absolute;
	left: 27px;
}
.service-raw-one-img-outter {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 0px;
	top: 4px;
}

.service-raw-one-img-out {
	width: 111px;
	height: 112px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 7px;
	left: 0px;
}

.service-raw-one-img {
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -60px;
	left: 150px;
}




.service-raw-two{
    width: 420px;
    height: 230px;
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-top: 100px;
}

.service-raw-three{
    width: 420px;
    height: 230px;
    background-color: pink;
    float: left;
    margin-left: 30px;
    margin-top: 100px;

}

.service-raw-one-text {
	padding-top: 100px;
	text-align: center;
}

.service-raw-one-text h3 {
	text-transform: uppercase;
	padding-bottom: 15px;
	font-size: 25px;
}

.service-raw-one-text p {
	font-size: 17px;
	font-weight: lighter;
	text-transform: capitalize;
}

/* hard shape */
/* hard shape */
/* hard shape */
.service-raw-two{
    width: 420px;
    height: 230px;
    background-color: #eaeaea;
    float: left;
    margin-top: 100px;
    position: relative;
}

.service-raw-two-img-outterdoube {
	width: 95px;
	height: 95px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 2px;
}

.service-raw-two-img-outter img {
	top: 15px;
	position: absolute;
	left: 27px;
}
.service-raw-two-img-outter {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 0px;
	top: 4px;
}

.service-raw-two-img-out {
	width: 111px;
	height: 112px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 7px;
	left: 0px;
}

.service-raw-two-img {
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -60px;
	left: 150px;
}


.service-raw-two-text {
	padding-top: 100px;
	text-align: center;
}

.service-raw-two-text h3 {
	text-transform: uppercase;
	padding-bottom: 15px;
	font-size: 25px;
}

.service-raw-two-text p {
	font-size: 17px;
	font-weight: lighter;
	text-transform: capitalize;
}

/* hard shape */
/* hard shape */
/* hard shape */

.service-raw-three{
    width: 420px;
    height: 230px;
    background-color: #eaeaea;
    float: left;
    margin-top: 100px;
    position: relative;
}

.service-raw-three-img-outterdoube {
	width: 95px;
	height: 95px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 2px;
}

.service-raw-three-img-outter img {
	top: 15px;
	position: absolute;
	left: 27px;
}
.service-raw-three-img-outter {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 0px;
	top: 4px;
}

.service-raw-three-img-out {
	width: 111px;
	height: 112px;
	background-color: #f1f1f1;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 7px;
	left: 0px;
}

.service-raw-three-img {
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: -60px;
	left: 150px;
}

.service-raw-three-text {
	padding-top: 100px;
	text-align: center;
}

.service-raw-three-text h3 {
	text-transform: uppercase;
	padding-bottom: 15px;
	font-size: 25px;
}

.service-raw-three-text p {
	font-size: 17px;
	font-weight: lighter;
	text-transform: capitalize;
}

/* hard shape */
/* hard shape */
/* hard shape */

/* our service section  */


/* portlio-text */
.portlio-text {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
}
.portlio-text h2{
    position: relative;
}

.portlio-text h2::after {
	position: absolute;
	content: '';
	width: 239px;
	height: 3px;
	background-color: #0872b9;
	left: 556px;
	top: 52px;
}

/* portlio-text */


/* <!-- Portfolio section start -->
<!-- Portfolio section start -->
<!-- Portfolio section start --> */

.portolio-full-section {
	margin-top: 15px;
    width: 1320px;
	height: 800px;

}

.portolio-img-one{
    height: 300px;
    width: 300px;
    float: left;
    margin: 0 40px 30px 0px;

}

.portolio-img-two{
    height: 420px ;
    width: 300px;3);
    float: left;
    margin: 0 40px 30px 0px;
}

.portolio-img-three{
    height: 300px ;
    width: 300px;
    float: left;
    margin: 0 40px 30px 0px;
}

.portolio-img-four{
    height: 420px ;
    width: 300px;
    float: left;
    margin: 0 0px 30px 0px;
}

.portolio-img-five {
	height: 420px;
	width: 300px;
	background-color: rgb(109, 126, 95);
	float: left;
	margin: -120px 40px 30px 0px;
}

.portolio-img-six{
    height: 300px ;
    width: 300px;
    float: left;
    margin: 0 40px 30px 0px;
}

.portolio-img-seven{
    height: 420px ;
    width: 300px;
    float: left;
    margin: -120px 40px 30px 0px;
}

.portolio-img-eight{
    height: 300px ;
    width: 300px;
    float: left;
    margin: 0 0px 30px 0px;
}

/* portfolio link one */

.portolio-link-one{
	cursor: pointer;
	position: relative;
	height: 300px;
	width: 300px;
}

.portolio-link-one::after{
	position: absolute;
	content: '';
	height: 300px;
	width: 300px;
	background-color: none;
	top: 0px;
	left:0px;
}
.portolio-img-one:hover .portolio-link-one::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-one .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 110px;
	transform: scale(0);

}

.portolio-img-one:hover .portolio-link-one .link{
	transform: scale(1);
	transition: .7s;
}

/* portfolio link one */


/* portfolio link two */
.portolio-link-two{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-two::after{
	position: absolute;
	content: '';
	height: 420px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-two:hover .portolio-link-two::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-two .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 175px;
	transform: scale(0);
}

.portolio-img-two:hover .portolio-link-two .link{
	transform: scale(1);
	transition: .7s;
}

/* portfolio link two */

/* portfolio link three */
.portolio-link-three{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-three::after{
	position: absolute;
	content: '';
	height: 300px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-three:hover .portolio-link-three::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-three .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 110px;
	transform: scale(0);

}
.portolio-img-three:hover .portolio-link-three .link{
	transform: scale(1);
	transition: .7s;
}
/* portfolio link three */
.portolio-link-two{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-two::after{
	position: absolute;
	content: '';
	height: 420px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-two:hover .portolio-link-two::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-two .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 175px;
	transform: scale(0);
}

.portolio-img-two:hover .portolio-link-two .link{
	transform: scale(1);
	transition: .7s;
}
/* portfolio link four */
.portolio-link-four{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-four::after{
	position: absolute;
	content: '';
	height: 420px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-four:hover .portolio-link-four::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-four .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 175px;
	transform: scale(0);
}

.portolio-img-four:hover .portolio-link-four .link{
	transform: scale(1);
	transition: .7s;
}

/* portfolio link four */

/* portfolio link five */
.portolio-link-five{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-five::after{
	position: absolute;
	content: '';
	height: 420px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-five:hover .portolio-link-five::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-five .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 175px;
	transform: scale(0);
}

.portolio-img-five:hover .portolio-link-five .link{
	transform: scale(1);
	transition: .7s;
}

/* portfolio link five */

/* portfolio link six */

.portolio-link-six{
	cursor: pointer;
	position: relative;
	height: 300px;
	width: 300px;
}

.portolio-link-six::after{
	position: absolute;
	content: '';
	height: 300px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-six:hover .portolio-link-six::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-six .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 110px;
	transform: scale(0);
}

.portolio-img-six:hover .portolio-link-six .link{
	transform: scale(1);
	transition: .7s;
}
/* portfolio link six */

/* portfolio link seven */
.portolio-link-seven{
	cursor: pointer;
	position: relative;
	height: 420px;
	width: 300px;
}

.portolio-link-seven::after{
	position: absolute;
	content: '';
	height: 420px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-seven:hover .portolio-link-seven::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-seven .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 175px;
	transform: scale(0);
}

.portolio-img-seven:hover .portolio-link-seven .link{
	transform: scale(1);
	transition: .7s;
}
/* portfolio link seven */


/* portfolio link eight */

.portolio-link-eight{
	cursor: pointer;
	position: relative;
	height: 300px;
	width: 300px;
}

.portolio-link-eight::after{
	position: absolute;
	content: '';
	height: 300px;
	width: 300px;
	background-color:none;
	top: 0px;
	left:0px;
}
.portolio-img-eight:hover .portolio-link-eight::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.portolio-link-eight .link {
	position: absolute;
	background-color: #5bc5f4;
	padding: 25px 25px;
	border-radius: 50%;
	z-index: 1;
	left: 110px;
	top: 110px;
	transform: scale(0);
}

.portolio-img-eight:hover .portolio-link-eight .link{
	transform: scale(1);
	transition: .7s;
}
/* portfolio link eight */

/* <!-- Portfolio section end -->
<!-- Portfolio section end -->
<!-- Portfolio section end --> */


/*--------------- our team start------------ */
/*--------------- our team start------------ */
/*--------------- our team start------------ */

/* heading part end */
.our-team {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	width: 1320px;
	height: 60px;
	background-color: ;
}  
.our-team h2{
    position: relative;
}

.our-team h2::after {
	position: absolute;
	content: '';
	width: 220px;
	height: 3px;
	background-color: #0872b9;
	left: 551px;
	top: 52px;
}
/* heading part end */

.ourteam-bg{
	width: 1320px;
	height: 500px;

}

/* raw one start  */

.our-team-img-one {
	height: 400px;
	width: 300px;
	background-color: #f1f1f1;
	float: left;
	margin-right: 40px;
}

.our-team-img-one:last-child{
	margin-right: 0px;
}


.our-team-link-one{
	cursor: pointer;
	position: relative;
	height: 400px;
	width: 300px;
}

.our-team-link-one::after {
	position: absolute;
	content: '';
	height: 400px;
	width: 100px;
	background-color: none;
	top: 0px;
	right: 0px;

}
.our-team-img-one:hover .our-team-link-one::after{
	background-color: rgba(0, 0, 0, .5);
	transition: .7s;
}


.our-team-link-one .link-one {
	position: absolute;
	background-color: ;
	padding: 15px 22px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 30px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid white;
	color: white;
}

.our-team-link-one .link-two {
	position: absolute;
	background-color: ;
	padding: 15px 18px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 115px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid white;
	color: white;
}

.our-team-link-one .link-three {
	position: absolute;
	background-color: ;
	padding: 16px 17px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 200px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid white;
	color: white;
}

.our-team-link-one .link-four {
	position: absolute;
	background-color: ;
	padding: 16px 17px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 290px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid white;
	color: white;
}
.our-team-link-one .link-one:hover{
	position: absolute;
	background-color: #5bc5f4  ;
	padding: 15px 22px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 30px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid #5bc5f4;
	color: white;
}

.our-team-link-one .link-two:hover{
	position: absolute;
	background-color: #5bc5f4  ;
	padding: 15px 18px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 115px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid #5bc5f4;
	color: white;
}

.our-team-link-one .link-three:hover{
	position: absolute;
	background-color: #5bc5f4  ;
	padding: 16px 17px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 200px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid #5bc5f4;
	color: white;
}

.our-team-link-one .link-four:hover{
	position: absolute;
	background-color: #5bc5f4  ;
	padding: 16px 17px;
	border-radius: 50%;
	z-index: 1;
	right: 20px;
	top: 290px;
	transform: scale(0);
	font-size: 30px;
	border: 2px solid #5bc5f4;
	color: white;
}
.our-team-img-one:hover .our-team-link-one .link-one{
	transform: scale(1);
	transition: .7s;
}

.our-team-img-one:hover .our-team-link-one .link-two{
	transform: scale(1);
	transition: .7s;
}

.our-team-img-one:hover .our-team-link-one .link-three{
	transform: scale(1);
	transition: .7s;
}

.our-team-img-one:hover .our-team-link-one .link-four{
	transform: scale(1);
	transition: .7s;
}

.our-team-img-one h2{
	text-align: center;
	margin: 10px 0px 4px 0;
	text-transform: uppercase;
	font-family: arial;
	cursor: pointer;


}

.our-team-img-one h4{
	text-align: center;
	font-family: arial;
	font-weight: lighter;
	cursor: pointer;

}




/* raw one end  */

/* heading part end */
.testimonial {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 40px;
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	width: 1320px;
	height: 60px;
	background-color: ;
}  
.testimonial h2{
    position: relative;
}

.testimonial h2::after {
	position: absolute;
	content: '';
	width: 220px;
	height: 3px;
	background-color: #0872b9;
	left: 551px;
	top: 52px;
}
/* heading part end */
/*--------------- our team end------------ */
/*--------------- our team end------------ */
/*--------------- our team end------------ */

.testimonial-raw-one{
	height: 450px;
	width: 635px;
	margin-right: 50px;
	float: left;
}

.testimonial-raw-one:last-child{
	margin-right: 0px;
}


.testimonial-photo{
	height: 100px;
	width: 100px;
	background-color: cornsilk;
	border-radius: 50%;
	position: relative;
}

.testimonial-photo img{
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.testimonial-square {
	height: 100px;
	width: 100px;
	background-color: #f1f1f1;
	transform: rotate(45deg);
	position: absolute;
	left: 265px;
	top: 130px;
}

.testimonial-square-sec-raw {
	height: 100px;
	width: 100px;
	background-color: #f1f1f1;
	transform: rotate(45deg);
	position: absolute;
	right: 265px;
	top: 130px;
}
.testimonial-square-two {
	width: 635px;
	height: 250px;
	background-color: #f1f1f1;
	margin-top: 50px;
	position: absolute;
	z-index: 1;
	text-align: center;
	font-family: arial;
}

.testimonial-square-two h2 {
	padding-top: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.testimonial-square-two .rating {
	padding-top: 15px;
	color: #5bc5f4;
}

.testimonial-square-two .rating-black {
	color: #43809b;
}
.testimonial-square-two h4 {
	padding-top: 20px;
	letter-spacing: 2px;
}

.testimonial-square-two p {
	padding: 35px 30px 30px 0;
	line-height: 25px;
}
.testimonial-bg{
	width: 1320px;
	height: 500px;
	position: relative;
}

/* testimonial end  */

/* Footer Start */
.footer-bg{
	height: 400px;
	width: 1320px;
	background-color: red;
}

.footer-one{
	width: 380px;
	height: 400px;
	background-color: #353535;
	float: left;
}
.footer-one img {
	margin: 30px 0 45px 60px;
}
.footer-text-spacing {
	padding: 0px 10px 0px 60px;
	line-height: 25px;
	font-family: arial;
	font-size: 18px;
	color: white;
}
.down {
	padding-top: 25px;
}

.footer-two{
	width: 330px;
	height: 400px;
	background-color: #353535;
	float: left;
}

.footer-two i {
	padding: 12px;
	border-radius: 50%;
	background-color: #5bc5f4;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
}
.phone .phone-icon {
	float: left;
	color: white;
}

.number {
	padding: 3px 0 0 65px;
	color: white;
	font-family: arial;
}
.footer-two h2 {
	padding-top: 45px;
	font-family: arial;
	padding-bottom: 65px;
	color: white;
}

.email .email-icon {
	float: left;
	margin-left: -45px;
	margin-top: 35px;
}

.email-id {
	padding: 38px 0 0 63px;
	color: white;
	font-family: arial;
}

.website .globe {
	margin-top: 35px;
}

.website-id {
	margin: -45px 0 0 63px;
	color: white;
	font-family: arial;
}
.footer-three{
	width: 225px;
	height: 400px;
	background-color: #353535;
	float: left;
}

.important-links-text {
	color: white;
	font-family: arial;
	padding: 35px 0 0 0;
	text-transform: capitalize;
}

.important-links {
	padding: 70px 0 0 0;
	float: left;
	width: 110px;
}

.impt-text-one {
	color: white;
	float: left;
	margin: 0 33px 23px 0;
	font-family: arial;
}

.impt-text-one:hover{
	text-decoration: underline;
	transition: .7s;
}
.footer-four{
	width: 385px;
	height: 400px;
	background-color: #353535;
	float: left;
}

.flickr-text {
	padding: 35px 0 65px 0;
	font-family: arial;
	color: white;
}

.flickr-photos{
	width: 385px;

}

.flickr-photo-one{
	width: 125px;
	height: 125px;
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;

}

.flickr-photo-one:last-child{
	margin-right:0px ;
}
/* Footer end */

.last-part{
	width: 1320px;
	height: 50px;
	background-color: #555555;
	text-align: center;
	color: white;
	line-height: 50px;

}

.last-part a{
	color: #5bc5f4;
}